@import "../../assets/_variables";

body {
    background-color: $color-background;
    box-sizing: border-box;
    height: 100vh;
    padding: 0;
    margin: 0;
}

#installation-box {
    justify-content: center;
    align-items: center;
    display: flex;
    height: 100%;
    width: 100%;
}

@import "../../assets/_defaults";
@import "../../assets/_notifications";
@import "../../assets/_forms";