<%- include("partials/header"); -%>
<h6>Krok 1. z 3</h6>
<h2>Databáze</h2>
<p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. At deleniti, ex quam sequi tempore, alias repudiandae consequatur quo fugiat dignissimos harum nemo cumque eaque officia, asperiores dolore eum accusantium nam.
</p>
<form action="/api/installation/database/" method="POST">
    <label>
        <input name="db_host" placeholder="172.17.0.1" required />
        <span class="placeholder">Host</span>
    </label>

    <label>
        <input name="db_port" placeholder="5432" required />
        <span class="placeholder">Port</span>
    </label>

    <label>
        <input name="db_database" required />
        <span class="placeholder">Název databáze</span>
    </label>

    <label>
        <input name="db_user" required />
        <span class="placeholder">Uživatelské jméno</span>
    </label>

    <label>
        <input name="db_password" type="password" required />
        <span class="placeholder">Heslo uživatele</span>
    </label>
    <button type="submit">Pokračovat</button>
</form>

<%- include("partials/footer"); -%>
