<%- include("partials/header"); -%>
<h2>Vyžadována konfigurace</h2>
<p>
    Nejdříve je potřeba provést konfiguraci aplikace.
</p>

<a href="/configuration" class="theme-link">Konfigurovat</a>

<%- include("partials/footer"); -%>
