<%- include("partials/header"); -%>
<h6>Krok 3. z 3</h6>
<h2>Nastavení dokončeno</h2>
<p>
    Nastavení je dokončeno, config aplikace se nachází v souboru <i>./config/config.json</i>, před úpravou tohoto souboru doporučuji vygenerovaný soubor zálohovat pro případnou obnovu.
</p>

<p>
    Nyní můžete pokračovat na přihlášení a přidání prvního zařízení.
</p>

<form action="/api/configuration/finish" method="POST">
    <input type="hidden" value="true" name="submit" />
    <button type="submit">Dokočit</button>
</form>

<%- include("partials/footer"); -%>
