<%- include("partials/header"); -%>
<h6>Krok 2. z 3</h6>
<h2>Uživatel</h2>
<p>
    Vytvořte prvního uživatele, tento uživatel <b>nemůže</b> být odebrán. Doporučuji pro něj zvolit <b>silné</b> heslo.
</p>
<form action="/api/configuration/user" method="POST">
    <label>
        <input name="username" required />
        <span class="placeholder">Uživatelské jméno</span>
    </label>

    <label>
        <input name="password" type="password" required />
        <span class="placeholder">Heslo</span>
    </label>

    <label>
        <input name="password_repeat" type="password" required />
        <span class="placeholder">Heslo znovu</span>
    </label>
    <button type="submit">Pokračovat</button>
</form>

<%- include("partials/footer"); -%>
